.navigationTab:selected{
	-fx-background-color: white;
	-fx-border-width:0;
	-fx-text-fill:#0F9763;
}

.navigationTab{
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-border-width:0 1;
	-fx-border-color:#D3D3D3;
	-fx-border-radius:0;
	-fx-text-fill:white;
	-fx-font-weight:bold;
}
.navigationBar{
	-fx-background-color:#0F9763;
}
.rootview{
	-fx-background-color: white;
}
.testTitle{
	-fx-text-fill:#0F9763;
	-fx-font-size:14;
	-fx-font-weight:bold;
	-fx-padding:5px;
}
button{
	-fx-background-color:#0F9763;
	-fx-text-fill:white;
	-fx-font-weight:bold;
}

button:selected{
	-fx-border:0;
}